.mainWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.categoryWrapper {
    display: flex;
    width: 85%;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;

}

.goodsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
}

.categoryTitle {
    font-family: "Roboto";
    margin-top: 40px;
}