@font-face {
    font-family: "Roboto";
    src: url("./Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("./Roboto/Roboto-Black.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "GreatVibes-Regular";
    src: url("./Writeable/GreatVibes-Regular.ttf") format("truetype");
    font-weight: 1300;
    font-style: normal;
    /*unicode-range: U+000-5FF, U+0400-04FF;*/
}
@font-face {
    font-family: "Anaktoria-Regular";
    src: url("./Anaktoria/Anaktoria.ttf") format("truetype");
    font-weight: 1300;
    font-style: normal;
    /*unicode-range: U+000-5FF, U+0400-04FF;*/
}
