.mainWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 95vh;
}

.contentWrapper {
  width: 85%;
  display: flex;
  flex-direction: column;
}

.point {
    margin: 0;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.contact {
  display: flex;
  align-items: center;
}

.phones {
  display: flex;
  flex-direction: column;
}

.contactItemText,
.addressText {
  text-decoration: none;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contactsWrapper {
  display: flex;
  justify-content: space-between;
}

.header {
  align-self: flex-start;
}

.addressText {
  font-size: 22px;
}
