.wrapper {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    border: 1px #ccc solid;
}

.plusMinusBlock {
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgray;
    height: 100%;
    border-radius: 12px;
    /*outline: none;*/
    border: none;
}

.countWrapper {
    width: 36%;
    /*height: 100%;*/
}

.countInput {
    width: 100%;
    height: 100%;
    border: 0px none transparent;
    outline: none;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.countInput:enabled {
    border: 0;
}

.countInput::-webkit-outer-spin-button,
.countInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.countInput {
    -moz-appearance: textfield; /* Firefox */
}
