.mainWrapper {
    width: 28%;
    height: 350px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    text-decoration: none;
    border: 1px solid transparent;
    border-color: darkgray;
    transition: border-color 0.3s ease;
    margin-top: 15px/* плавна поява рамки */;
}

.mainWrapper:hover {
    border-color: black;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*width: 95%;*/
    height: 95%;
}

.goodImage {
    /*width: 65%;*/
    height: 75%;
}

.bottomWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 15%;
}

.buyButton {
    text-decoration: none;
    width: 90px;
    height: 40px;
    text-align: center;
    align-content: center;
    border-radius: 25px;
    font-family: Roboto;
    color: black;
    border: 1px solid black;
    transition: background-color 0.3s ease, color 0.3s ease; /* тільки плавна поява рамки */
}

.buyButton:hover {
    background-color: #101624;
    color: #aab4b8;
    border-color: #aab4b8;
}

.priceText {
    color: black;
    font-family: Roboto-Bold;
    margin-right: 40px;
}

.goodName {
    color: darkslategray;
}