.mainWrapper {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.contentWrapper {
  width: 65%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigationContainer {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.navLink {
  text-decoration: none;
  background: none;
  font-family: "";
  font-weight: 520;
  font-size: 18px;
}

.image {
  width: 150px;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
