.mainWrapper {
  height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentWrapper {
    display: flex;
    align-items: center;
    width: 85%;
    height: 85%;
    justify-content: space-between;
}

.pointsWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.point {
    text-decoration: none;
    margin-left: 25px;
    margin-top: 0;
    margin-bottom: 10px;
}

.image {
    width: 150px;
}