.mainWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 130vh;
}

.contentWrapper {
  width: 85%;
  display: flex;
  flex-direction: column;
}

.wrappers {
  display: flex;
  width: 100%;
}

.leftWrapper,
.rightWrapper {
  width: 50%;
}

.detail {
  display: flex;
  align-items: center;
}

.titleOfDetail {
  margin-right: 35px;
  width: 50px;
  text-align: start;
  font-size: medium;
}

.details,
.description,
.rightWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

hr {
  width: 100%;
  height: 0.5px;
  background-color: lightgray;
}

.titleOfDetail,
.valueOfDetail,
.headerOfDescription,
.price,
.header {
  font-family: "Roboto";
}

.valueOfDetail {
  text-align: left;
}

.buyButton {
    text-decoration: none;
    width: 90px;
    height: 40px;
    text-align: center;
    align-content: center;
    border-radius: 25px;
    font-family: Roboto;
    color: black;
    border: 1px solid black;
    transition: background-color 0.3s ease, color 0.3s ease; /* тільки плавна поява рамки */
}

.buyButton:hover {
    background-color: #101624;
    color: #aab4b8;
    border-color: #aab4b8;
}