.mainWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contentWrapper {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content,
.headerOfParagraph {
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.headerOfParagraph {
  align-self: start;
}

.content {
  font-size: x-large;
}
